body {
    font-family: Arial, sans-serif;
    margin: 30px;
}

table {
    border-collapse: collapse;
    width: 750px;
    margin-bottom: 30px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #eeeeee;
}